* {
  font-family: Arial, sans-serif;
}
#Title {
  color: red;
}
.image-container {
  text-align: center;
  width: 70%;
}
.images {
  display: inline;
  right: 20px;
  width: 25%;
  float: right;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 10%;
}
.valgomat {
  text-align: center;
  display: inline-block;
  width: 50%;
}


#meny {
  text-align: center;
}
.menyvalg {
  position: relative;
  display: inline-flex;
  width: 30%;
  text-align: center;
  transition: 1s;
  margin: 7em 4em 7em 4em;
  padding: 1em 1em 1em 1em;
  background-size: cover;
  font-size: 1.2em;
}
#box-container {
  text-align: center;
}
#AP-tittel {
  width: 40%;
}
.menyvalg-img {
  height: 15em;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.5s;
}
.menyvalg-tekst {
  z-index: 2;
}
#tavalgomat{
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
}
#ompartiet{
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.InfoTxt{
  text-align: left;
  display: inline-block;
  width: 50%;
}
#bodyinfo{
  text-align: center;
}

#webcolor{
  background-color: red;
  width: 100%;
  height: 100px;
  display: flex;
}

  input[type="radio"] {
    display: none; /* Hide the default radio button */
  }
  
  label {
    cursor: pointer;
  }

input[type="radio"] {
  display: none; /* Hide the default radio button */
}

label {
  cursor: pointer;
}

body{
  margin: 0px;
}
#enighet{
  font-size: larger;
  font-weight: bold;
}
#sjekksvar{
  background-color: white; /* Green */
  border: 2px solid #f44336;  
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.5s;
  cursor: pointer;
}
#sjekksvar:hover{
  background-color: red;
  color: white;
}
#logoimg{
  height: auto;
  margin: 20px;
}
#logoimg:hover{
  cursor: pointer;
}