* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.image-container {
    float: right;
  }

  input[type="radio"] {
    display: none; /* Hide the default radio button */
  }
  
  label {
    cursor: pointer;
  }

  input[type="radio"]:checked + label {
    color: green; /* Style the label when the radio button is checked */
    font-weight: bold;
  }
    