/* ---Felles--- */
* {
  font-family: Arial, sans-serif;
}
body{
  margin: 0px;
}
/* Det gjør at linkene ikke endrer farge og bare er denne blåfargen. */
a:visited {
  color: rgb(1, 146, 219);
}

#webcolor{ /*Top navbar*/
  background-color: #d70926;
  width: 100%;
  height: 100px;
  display: flex;
}
#logoimg{
  height: auto;
  margin: 20px;
  }
#logoimg:hover{
  cursor: pointer;
}

/* ---Valgomat--- */
#Title {
  color: #d70926;
  text-align: center;
  font-size: 3em;
}
.image-container {
  text-align: center;
  width: 70%;
}
.images {
  display: inline;
  right: 20px;
  width: 25%;
  float: right;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 10%;
}
.valgomat {
  text-align: center;
  display: inline-block;
  width: 50%;
}
input[type="radio"] {
  display: none; /* Hide the default radio button */
}
label {
cursor: pointer;
}

#sjekksvar{
background-color: white;
border: 2px solid #d70926;  
color: black;
padding: 16px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 20px;
margin: 4px 2px;
transition-duration: 0.5s;
cursor: pointer;
border-radius: 100px;
}
#sjekksvar:hover{
background-color: #d70926;
color: white;
border: 2px solid #fff7e8;
}

.svarcont{
margin-top: 2em;
margin-right: 20%;
margin-left: 20%;
margin-bottom: 2em;
text-align: center;
font-size: 2em;
font-weight: bold;
background-color: #d70926;
color: white;
padding: 1em;
border-radius: 20px;
}

/* ---Menyside--- */

#meny {
  text-align: center;
}
.menyvalg {
  position: relative;
  display: inline-flex;
  width: 30%;
  text-align: center;
  transition: 1s;
  margin: 7em 4em 7em 4em;
  padding: 1em 1em 1em 1em;
  background-size: cover;
  font-size: 1.2em;
}
#box-container {
  text-align: center;
}
#AP-tittel {
  width: 30%;
  margin: 6%;
}
.menyvalg-img {
  height: 15em;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.5s;
}
.menyvalg-tekst {
  z-index: 2;
}
#tavalgomat{
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
}
#ompartiet{
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ---Infoside--- */

.InfoTxt{
  text-align: left;
  display: inline-block;
  width: 50%;
  padding-bottom: 5%;
}
#bodyinfo{
  text-align: center;
}